body {
    background: $oc-gray-1;
    font-size: $font-normal;
}

.wrap {
    @extend .border;
    background: $oc-white;
    width: 720px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    border-width: 1px;
    overflow: hidden;
    // transition: all 3ms;
}

// header
.header {
    height: 40px;
    overflow: hidden;
    @extend .border;    
    border-bottom-width: 1px;
}
.header__title {
    float: left;
    font-size: $font-big;
    line-height: 40px;
}
.header__options {
    float: right;
    line-height: 40px;
    li {
        display: inline-block;
        margin: 0 10px;
        &:last-child{
            margin-right: 0;
        }
    }
}
.header__options--active {
    a {
        color: $oc-blue-5; 
    }
}

// content
.content {
    @extend .border;    
    width: 32%;
    // display: block;
    float: left;
    margin-top: 15px;
    margin-right: 2%;
    padding: 10px;
    padding-bottom: 0;
    border-width: 1px;
    border-bottom-width: 2px;
    box-sizing: border-box;
    overflow: hidden;
    // border: 1px solid $color-
}
.content--last {
    margin-right: 0;
}
.content__font-sample {
    // line-break: normal;
    width: 100%;
    height: 200px;
    font-size: $font-big;
    word-break: break-all;
    letter-spacing: 1px;
}
.content__font-title {
    font-size: $font-medium;
    margin: 10px 0;
}

.content__footer {
    @extend .border;
    height: 50px;
    border-top-width: 1px;
    background: $oc-gray-1;
    margin: 0 -10px;
}

// modal
.modal {
    width: 100%;
    height: 100%;
    background: rgba($oc-black, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}

.modal__content {
    width: 320px;
    // height: 240px;
    margin: 50px auto;
    padding: 10px;
    background: $oc-white;
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px;
}
.modal__header {
    @extend .border;
    height: 40px;
    font-size: $font-big;
    line-height: 40px;
}
.modal__font {
    @extend .border;
    // width: 90%;
    margin-top: 10px;
    // margin: 10px auto;
    font-size: $font-big;
    word-break: break-all;
    border-width: 1px;
    padding: 10px;

}
.modal__footer {
    margin-top: 10px;
}
.modal__footer-label {
    font-size: $font-medium;
}
// btn
.btn--viewfont {
    width: 80px;
    height: 30px;
    float: right;
    margin: 10px;
}
.btn--regular {
    width: 80px;
    height: 30px;
}
.btn--primary {
    background: $oc-teal-5;
    color: $oc-white;
    &:hover {
        background: $oc-teal-7;
    }
}