.color--gray {
  color: #495057; }

.font--default {
  font-family: 'Malgun Gothic', sans-serif; }

.font--1 {
  font-family: 'Baloo Bahina', cursive; }

.font--2 {
  font-family: 'Homemade Apple', cursive; }

.font--3 {
  font-family: 'Libre Baskerville', serif; }

.font--4 {
  font-family: 'Playfair Display', serif; }

.font--5 {
  font-family: 'Space Mono', monospace; }

.font--6 {
  font-family: 'Titillium Web', sans-serif; }
